abbr {
	text-decoration: none;
}
#connection {
	position: absolute;
	top: 5px;
	right: 5px;
	visibility: hidden;
}
#installApp {
	position: absolute ;
	z-index: 3;
	top: 30px;
	right: 6px;
	width:20px;
	height:20px;
}
@keyframes whobble {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
input {
	
	padding: 5px;
	width: max-content;
	flex: 1;
	border: 1px solid blue;
	outline: none;
	border-radius: 5px;
	
}
.resetbutton {
	
	border-radius: 5px;
	padding: 2px;
	
}
label {
	gap: 5px;	
	
	display: flex;
	flex-direction: row;
}
label[type="text"]{
	vertical-align: middle;
	height:50%;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
	
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.input-value-manually{
	padding:8px;
	display:block;
	border:none;
	border-bottom:
	1px solid #ccc;
	width: 95%;
}