abbr {
	text-decoration: none;
}
#connection {
	position: absolute;
	top: 5px;
	right: 5px;
}
#showInstall {
	position: absolute ;
	top: 30px;
	right: 6px;
}
#installApp {
	
	width:20px;
	height:20px;
}
@keyframes whobble {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}